html, body {
  height: 100%;
  font-family: "Open Sans";
  font-size: 0.9em;
  background: #F1F1F1;
}

.columns {
  height: 100%;
  width: 100%;
  columns: 235px;
  -webkit-columns: 235px;
  -moz-columns: 235px;
  column-gap: 5px;
  -moz-column-gap: 5px;
  -webkit-column-gap: 5px;
  xcolumn-fill: balance;
}

.project {
  font-weight: bold;
  xfont-size: 150%;
  background: #FFFFFF;
}

.node {
  width: 100%;
  display: inline-block;
  background: #FFFFFF;
  margin-bottom: 1px;
  padding: 5px 3px 5px 12px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  line-height: 150%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.node.project {
  padding: 5px 3px 5px 3px;
}

.node + .project {
  xmargin-top: 10px;
}

.node.next {
  xcolor: #44BBDD;
  color: #22DD77;
}

.node.done {
  xtext-decoration: line-through;
  color: #CCCCCC;
  font-size: 50%;
}

.node.current {
  background: #FFFFDD;
}

.tag {
  color: #CCCCCC;
}

.onlyNext .node { display: none; }
.onlyNext .project { display: block; }
.onlyNext .next { display: block; }

