html, body {
  height: 100%;
  font-family: "Open Sans";
  font-size: 0.9em;
  background: #F1F1F1;
}

.column {
  height: 100%;
  width: 235px;
  margin-right: 5px;
  float: left;
  xoverflow: hidden;
}

.project {
  font-weight: bold;
  xfont-size: 150%;
  background: #FFFFFF;
}

.node {
  width: 100%;
  display: block;
  background: #FFFFFF;
  margin-bottom: 1px;
  padding: 5px 3px 5px 12px;
  box-sizing: border-box;
  line-height: 150%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.node.project {
  padding: 5px 3px 5px 3px;
}

.node + .project {
  xmargin-top: 10px;
}

.node.next {
  xcolor: #44BBDD;
  color: #22DD77;
}

.node.done {
  text-decoration: line-through;
  color: #999999;
}

.node.current {
  background: #FFFFDD;
}

.tag {
  color: #CCCCCC;
}